<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.atlas.spark-model-api</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/ssh</string>
		<string>-NT</string>
		<string>-o</string>
		<string>BatchMode=yes</string>
		<string>-o</string>
		<string>ExitOnForwardFailure=yes</string>
		<string>-o</string>
		<string>ServerAliveInterval=15</string>
		<string>-o</string>
		<string>ServerAliveCountMax=3</string>
		<string>-o</string>
		<string>StrictHostKeyChecking=accept-new</string>
		<string>-L</string>
		<string>18006:127.0.0.1:18006</string>
		<string>-L</string>
		<string>18002:127.0.0.1:18006</string>
		<string>-L</string>
		<string>18003:127.0.0.1:18003</string>
		<string>-L</string>
		<string>18091:127.0.0.1:18081</string>
		<string>drakestapleton@100.116.106.93</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/spark-model-api-tunnel.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/spark-model-api-tunnel.log</string>
	<key>ThrottleInterval</key>
	<integer>10</integer>
</dict>
</plist>
